{% extends  "admin/change_form.html" %}

{% block footer %}
    {{ block.super }}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">


        $("#id_state").on('change', function () {
            let state = $(this).val();
            $.ajax({
                url: '/ajax/load-cities',
                data: {
                    state: state
                },
                success: function (res) {
                    let city = $("#id_city");

                    city.empty()
                        .append($("<option></option>")
                            .attr("value", 0)
                            .text("------"));
                    $.each(res, function (key, value) {
                        city.append($("<option></option>")
                            .attr('value', value.pk)
                            .text(value.fields.city_name))
                    });
                }
            })
        });
    </script>
{% endblock %}
