{% extends  "admin/change_form.html" %}

{% block footer %}
    {{ block.super }}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">


        $("#id_inserted_by").on('change', function () {
            let inserted_by = $(this).val();
            $.ajax({
                url: '/ajax/load-creator/' + inserted_by,
                success: function (res) {
                    let creator = $("#id_creator_id");

                    creator.empty()
                        .append($("<option></option>")
                            .attr("value", 0)
                            .text("------"));
                    $.each(res, function (key, value) {
                        creator.append($("<option></option>")
                            .attr('value', value.pk)
                            .text((inserted_by == 1) ? value.fields.username : value.fields.designer_name))
                    });
                }
            })
        });
    </script>
{% endblock %}
