{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ==================== Start Header ==================== -->

    <header class="pages-header bg-img valign parallaxie" data-background="{% static 'img/portfolio/project1/bg.jpg' %}"
            data-overlay-dark="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cont text-center">
                        <h1>Interior Designs</h1>
                        <div class="path">
                            <a href="javascript:void(0);">Home</a><span>/</span><a href="javascript:void(0);" class="active">Interior Design</a><span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ==================== End Header ==================== -->



    <!-- ==================== Start Intro ==================== -->

    <!-- ==================== End Intro ==================== -->




    <!-- ==================== Start projdtal ==================== -->

    <section class="projdtal">
        <div class="justified-gallery">
            <a href="{% static 'img/portfolio/project1/1.jpg' %}'">
                <img alt="" src="{% static 'img/portfolio/project1/1.jpg' %}"/>
            </a>
            <a href="{% static 'img/portfolio/project1/2.jpg' %}">
                <img alt="" src="{% static 'img/portfolio/project1/2.jpg' %}"/>
            </a>

            <a href="{% static 'img/portfolio/project1/6.jpg' %}">
                <img alt="" src="{% static 'img/portfolio/project1/6.jpg' %}"/>
            </a>
            <a href="{% static 'img/portfolio/project1/3.jpg' %}">
                <img alt="" src="{% static 'img/portfolio/project1/3.jpg' %}"/>
            </a>
        </div>
    </section>

    <!-- ==================== End projdtal ==================== -->




    <!-- ==================== Start Video-wrapper ==================== -->

    <section>
        <div class="container-fluid">
            <div class="video-wrapper section-padding bg-img parallaxie valign"
                 data-background="{% static 'img/portfolio/project1/vid.jpg' %}" data-overlay-dark="4">
                <div class="full-width text-center">
                    <a class="vid" href="https://vimeo.com/127203262">
                        <div class="vid-butn">
                            <span class="icon">
                                <i class="fas fa-play"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Video-wrapper ==================== -->



    <!-- ==================== Start projdtal ==================== -->

    <section class="projdtal">
        <div class="justified-gallery">
            <a href="{% static 'img/portfolio/project1/8.jpg' %}">
                <img alt="" src="{% static 'img/portfolio/project1/8.jpg' %}"/>
            </a>
            <a href="{% static 'img/portfolio/project1/9.jpg' %}">
                <img alt="" src="{% static 'img/portfolio/project1/9.jpg' %}"/>
            </a>
        </div>
    </section>

    <!-- ==================== End projdtal ==================== -->




    <!-- ==================== Start call-to-action ==================== -->

    <section class="call-action nogif next">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content text-center">
                        <a href="javascript:void(0);">
                            <h2 class="wow" data-splitting><b> Luxury </b> Furniture</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nxt-img bg-img" data-background="{% static 'img/portfolio/project1/bg.jpg' %}"></div>
    </section>

    <!-- ==================== End call-to-action ==================== -->

{% endblock %}